#gameArea {
    width: 400px;
    height: 400px;
    background-image:url("mint-green-leaves-texture-plant-textures-leaves-green-backgrounds.jpg");
    background-size: cover;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }
  
  #bug {
    width: 50px;
    height: 50px;
    background-image:url("insect-cartoon-drawing-clip-art-bug-removebg-preview.png");
    background-size: cover;
   
    position: absolute;
  }
  
  #score {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #buttons {
    text-align: center;
    margin-bottom: 10px;
  }
  
h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}  